body {
    background: white;
    background-image: url(meInpvp.jpg);
  }
head {
    background: black;
}
  p {
    color: black;
  }
  h1 {
    text-align: center;
  }
  h2 {
      text-align: left
  }
