body {
    background: white;
    background-image: url(latenight.png);
  }
head {
    background: black;
}
  p {
    color: yellow;
  }
  h1 {
    text-transform: unset;
    text-align: center;
    font-weight: lighter;
    color: blue;
  }
  h2 {
    text-align: right;
    font-weight: inherit;
  }
