head {
    background: yellowgreen;
  }
  p {
    color: black;
  }
  h1 {
    text-align: center;
    font-weight: inherit;
  }
  h2{
      text-align: right; 
  }
body {
  background-image: url(2wl.png);
}
